<p class='pull-right'>
  [<%= link_to 'edit this post', edit_post_path(@post)%>]
</p>
<p>
  <%= render @post.categories %>
</p>

<%= render 'shared/content_title', title: @post.title %>

<p>
  <%= @post.description %>
</p>
<hr/>

<%= form_for @post do |f| %>
  <div class='control-group'>
  <%= f.label :comment %>
  <%= f.text_area :comment, rows: 5 %>
  </div>

  <%= f.submit("Create Comment", class: 'btn btn-primary') %>
<% end %>


