  <% if @category.errors.any? %>
  <div class='row'>
  <div class='alert alert-error span8'>
    <h4>There were some errors:</h4>
    <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
    </div>
  </div>
  <% end %>

<div class='well'>
  <%= form_for @category do |f| %>
    <div class='control-group'>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <%= f.submit(@category.new_record? ? "Create Category" : 'Update Category', class: 'btn btn-primary') %>
  <% end %>
</div>
